* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
}


.hero {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(135deg, #ff512f, #dd2476);
}

.hero h1 {
  font-size: 46px;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}


.container {
  max-width: 1050px;
  margin: 60px auto;
  background: white;
  color: #333;
  border-radius: 20px;
  padding: 45px;
  display: flex;
  gap: 40px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.4);
}


.container img {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


.content h2 {
  margin-bottom: 10px;
  color: #dd2476;
  font-size: 24px;
}

.content p {
  margin-bottom: 15px;
  line-height: 1.8;
  font-size: 15.5px;
}

.content ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

.content ul li {
  margin-bottom: 6px;
}


blockquote {
  background: #f9f9f9;
  padding: 18px;
  border-left: 6px solid #dd2476;
  font-style: italic;
  color: #444;
}


footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #ccc;
}


@media(max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .container img {
    margin: 0 auto;
  }
}
