* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: white;
  width: 500px;       
  min-height: 550px;   
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.35);
}

h1 {
  text-align: center;
  color: #333;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}

.input-box {
  display: flex;
  margin-bottom: 15px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 2px solid #667eea;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.input-box button {
  background: #667eea;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.lists {
  display: flex;
  gap: 20px;  
}


.box {
  width: 50%;
}

.box h2 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
}

.completed-box h2 {
  color: green;
}

ul {
  list-style: none;
}

li {
  background: #f1f1f1;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

li span {
  font-size: 14px;
}

li .actions i {
  cursor: pointer;
  margin-left: 8px;
  color: #555;
}

li .actions i:hover {
  color: black;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(5px);}
  to {opacity: 1; transform: translateY(0);}
}
